
$primary-color-100: #f8dada;
$primary-color-200: #f1b4b4;
$primary-color-300: #e98f8f;
$primary-color-400: #e26969;
$primary-color: #db4444;
$primary-color-600: #af3636;
$primary-color-700: #832929;
$primary-color-800: #581b1b;
$primary-color-900: #2c0e0e;
$secondary-color:#F5F5F5F5;
$green-color: #00FF66;

